<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!-- heroes.component.html (HeroDetail binding) -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->

<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
  <p>{{hero.name}}</p>
</div> -->
<!-- <div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->